body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    list-style: none;
}

.text {
    text-decoration: none;
}