.work {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black); 
    text-align: center;
}

.work-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.work-picture {
    position: relative;
}

.work-item {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-about {
    padding-top: 0;
}